# Local environment variables
.env

# Python build artifacts
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.venv/

# Generated Reports Excel Files
*.xlsx
raw_intel.md

# Logs 
*.log

# Editor & OS Settings 
.vscode/
.idea/
.DS_Store
Thumbs.db